<div class="back-area">
    <% if (toAdmin) { %>
        <% if (toMonth) { %>
            <a href="/admin/<%= id %>">戻る</a>
        <% } else { %>
            <a href="/admin">戻る</a>
        <% } %>
    <% } else { %>
        <a href="/">戻る</a>
    <% } %>
</div>
