<div class="header">
    <div class="header__main">
        <div class="header_left">
            <img class="header-logo" src="/static/images/building_logo.svg">
        </div>
        <div class="header__right">
            <% if (backMenu) { %>
                <a class="header-back" href="/">戻る</a>
            <% } %>
            <% if (backAdmin) { %>
            <a class="header-back" href="/admin">戻る</a>
            <% } %>
            <% if (backToMonth) { %>
            <a class="header-back" href="/admin/<%= id %>">戻る</a>
            <% } %>
            <% if (adminMenu) { %>
            <a class="header-admin" href="/admin">管理者メニュー</a>
            <p class="header-hosei">補正依頼</p>
            <% } %>
        </div>
    </div>
    <div class="header__title">
        <h1><%= title %></h1>
    </div>
</div>